<h1> {{header}} </h1>

<hr>

{{#link-to 'currency'}} 
	<div {{bind-attr class="button"}} >
		Currency
	</div>
{{/link-to}}


{{#link-to 'speed'}} 
	<div {{bind-attr class="button"}} >
		Speed
	</div>
{{/link-to}}

{{#link-to 'distance'}}
	<div {{bind-attr class="button"}} >
		Distance
	</div>
{{/link-to}}

{{#link-to 'weight'}} 
	<div {{bind-attr class="button"}} >
		Weight
	</div>
{{/link-to}}

{{#link-to 'pressure'}} 
	<div {{bind-attr class="button"}} >
		Pressure
	</div>
{{/link-to}}

{{#link-to 'temperature'}} 
	<div {{bind-attr class="button"}} >
		Temperature
	</div>
{{/link-to}}